In [128]:
import pandas as pd
import numpy as np

## Data Gathering

### Electoral Democracy

In [139]:
ed = pd.read_csv('data/electoral-democracy.csv')
ed.drop(['Code', 'electdem_vdem_high_owid', 'electdem_vdem_low_owid'], axis=1, inplace=True)
ed.rename(columns={'electdem_vdem_owid': 'Democracy Index'}, inplace=True)
ed.head()

        Entity  Year  Democracy Index
0  Afghanistan  1789            0.018
1  Afghanistan  1790            0.018
2  Afghanistan  1791            0.018
3  Afghanistan  1792            0.018
4  Afghanistan  1793            0.018

In [140]:
ed['Year'].value_counts()

2021    186
2014    186
2007    186
2008    186
2009    186
       ...
1794     76
1793     76
1792     76
1790     75
1789     73
Name: Year, Length: 233, dtype: int64

### GDP Per Capita

In [143]:
gdp_percap = pd.read_csv('data/real-gdp-per-capita-PennWT.csv')
gdp_percap.drop(['Code'], axis=1, inplace=True)
gdp_percap.rename(columns={'GDP per capita (output, multiple price benchmarks)':'GDP Per Capita'}, inplace=True)
gdp_percap

         Entity  Year  GDP Per Capita
0       Albania  1970     3114.088390
1       Albania  1971     3159.808760
2       Albania  1972     3214.666400
3       Albania  1973     3267.848132
4       Albania  1974     3330.070731
...         ...   ...             ...
10394  Zimbabwe  2015     2880.905780
10395  Zimbabwe  2016     2919.616893
10396  Zimbabwe  2017     3112.875107
10397  Zimbabwe  2018     3007.236919
10398  Zimbabwe  2019     2787.658975

[10399 rows x 3 columns]

### Population Density

In [144]:
# Density per km^2
pop = pd.read_csv('data/population-density.csv')
pop.drop(['Code'], axis=1, inplace=True)
pop.rename(columns={'population_density':'Population Density'}, inplace=True)
pop.sort_values('Year')

                Entity   Year  Population Density
0          Afghanistan -10000               0.023
45690  North Macedonia -10000               0.029
6942            Bhutan -10000               0.001
28942             Iraq -10000               0.083
28604             Iran -10000               0.023
...                ...    ...                 ...
16964          Denmark   2100             171.823
60971       Tajikistan   2100             182.492
17302         Djibouti   2100              57.448
61985            Timor   2100             159.581
69378         Zimbabwe   2100              80.045

[69379 rows x 3 columns]

In [32]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69379 entries, 0 to 69378
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Entity              69379 non-null  object
 1   Year                69379 non-null  int64
 2   population_density  69379 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ MB

## Merging

In [145]:
merged = ed.merge(gdp_percap, on=['Entity', 'Year'])
years = (merged['Year'].value_counts() == 163)
years.index[years.values].sort_values()

Int64Index([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
            2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
           dtype='int64')

All years from 1998 to 2019 are available (inclusive)

In [146]:
merged = merged.merge(pop, on=['Entity', 'Year'])
merged.head()

    Entity  Year  Democracy Index  GDP Per Capita  Population Density
0  Albania  1970            0.173     3114.088390              78.493
1  Albania  1971            0.173     3159.808760              80.372
2  Albania  1972            0.173     3214.666400              82.265
3  Albania  1973            0.173     3267.848132              84.171
4  Albania  1974            0.173     3330.070731              86.089

In [147]:
merged['Year'].value_counts()

2005    162
2008    162
1999    162
2000    162
2001    162
       ...
1954     66
1953     62
1952     60
1951     59
1950     55
Name: Year, Length: 70, dtype: int64

In [148]:
years = (merged['Year'].value_counts() == 162)
years.index[years.values].sort_values()

Int64Index([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
            2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
           dtype='int64')

In [149]:
merged = merged.query('Year >= 1998 and Year <=2019').copy()
merged

        Entity  Year  Democracy Index  GDP Per Capita  Population Density
28     Albania  1998            0.391     4993.022142             113.529
29     Albania  1999            0.396     5292.027513             113.967
30     Albania  2000            0.403     5315.429797             114.206
31     Albania  2001            0.437     5525.691038             114.223
32     Albania  2002            0.487     5636.184777             114.094
...        ...   ...              ...             ...                 ...
9383  Zimbabwe  2015            0.299     2880.905780              35.711
9384  Zimbabwe  2016            0.292     2919.616893              36.268
9385  Zimbabwe  2017            0.298     3112.875107              36.801
9386  Zimbabwe  2018            0.306     3007.236919              37.324
9387  Zimbabwe  2019            0.288     2787.658975              37.858

[3564 rows x 5 columns]

In [150]:
last_year_statistics = merged.query('Year == 2019')
last_year_statistics

         Entity  Year  Democracy Index  GDP Per Capita  Population Density
49      Albania  2019            0.488    12531.788652             105.143
109     Algeria  2019            0.293    11787.492764              18.076
159      Angola  2019            0.366     7159.579157              25.528
229   Argentina  2019            0.778    21826.837555              16.363
259     Armenia  2019            0.807    14735.137921             103.889
...         ...   ...              ...             ...                 ...
9175  Venezuela  2019            0.209      251.092365              32.329
9225    Vietnam  2019            0.216     7506.816977             311.098
9256      Yemen  2019            0.116     1777.251122              55.234
9321     Zambia  2019            0.338     3179.195984              24.026
9387   Zimbabwe  2019            0.288     2787.658975              37.858

[162 rows x 5 columns]

## Top 10 Countries with GDP Per Capita

In [151]:
SIZE = 10
top = last_year_statistics.sort_values('GDP Per Capita', ascending=False).iloc[:SIZE]
top = top.sort_values('Population Density').copy()
top['Population Order'] = list(range(1, SIZE+1))
# pd.Series(list(range(1, SIZE+1)))
top

,Entity,Year,Democracy Index,GDP Per Capita,Population Density,Population Order
6542,Norway,2019,0.892,73668.787811,14.732,1
9005,United States,2019,0.808,62588.999726,35.974,2
4257,Ireland,2019,0.876,102622.448922,70.874,3
8865,United Arab Emirates,2019,0.095,66112.720202,137.574,4
8207,Switzerland,2019,0.897,75298.817475,217.415,5
4749,Kuwait,2019,0.315,62054.523586,236.087,6
7111,Qatar,2019,0.081,114100.816206,246.481,7
5125,Luxembourg,2019,0.878,90479.404038,253.387,8
6172,Netherlands,2019,0.870,55569.439871,507.785,9
7630,Singapore,2019,0.383,82336.341773,8186.661,10

In [ ]:
merged

In [3]:
import altair as alt

In [152]:


alt.Chart(top).mark_point().encode(x='Democracy Index', y='Population Density',
                                   text='Entity',
                                  size='GDP Per Capita')

alt.Chart(...)

In [108]:
last_year_statistics['population_density'].min()
last_year_statistics['population_density'].max()

8186.661

In [113]:
top

,Entity,Year,electdem_vdem_owid,"GDP per capita (output, multiple price benchmarks)",population_density
7111,Qatar,2019,0.081,114100.816206,246.481
4257,Ireland,2019,0.876,102622.448922,70.874
5125,Luxembourg,2019,0.878,90479.404038,253.387
7630,Singapore,2019,0.383,82336.341773,8186.661
8207,Switzerland,2019,0.897,75298.817475,217.415
6542,Norway,2019,0.892,73668.787811,14.732
8865,United Arab Emirates,2019,0.095,66112.720202,137.574
9005,United States,2019,0.808,62588.999726,35.974
4749,Kuwait,2019,0.315,62054.523586,236.087
6172,Netherlands,2019,0.870,55569.439871,507.785

In [153]:
top.to_csv('topstats.csv', index=False)
last_year_statistics.to_csv('last_year_stats.csv', index=False)
merged.to_csv('stats.csv', index=False)